body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
}

.clock-container {
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.time{
    text-align: center;
    margin-top: 100px;
}